.best {
  background: url('../img/section2/bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.best-content {
  margin-top: rem(110px);
}

.best__list {
  display: flex;
  justify-content: space-around;
  margin-top: rem(30px);
}

.best__item {
  width: 30%;
}

.best__pic {
  display: flex;
  justify-content: center;
}

.best__icon {
  width: rem(97px);
  height: rem(89px);

  &-meat {
      fill: #e04e23;
  }

  &-hand {
      fill: #f5b336;
  }

  &-natural {
      fill: #99c657;
  }
}


.best__info {
  text-align: center;
  margin-top: rem(30px);
}

.best__title {
  @include lifehack;
  font-size: rem(24px);
  line-height: 1.17;
}

.best__desc p {
  opacity: .8;
  font-size: rem(14px);
  line-height: 1.71;
  margin-top: rem(15px);
}

