.best {
  background: url('../img/section2/bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.best-content {
  margin-top: 110px;
}

.best__list {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.best__item {
  width: 30%;
}

.best__pic {
  display: flex;
  justify-content: center;
}

.best__icon {
  width: 97px;
  height: 89px;

  &-meat {
      fill: #e04e23;
  }

  &-hand {
      fill: #f5b336;
  }

  &-natural {
      fill: #99c657;
  }
}


.best__info {
  text-align: center;
  margin-top: 30px;
}

.best__title {
  @include lifehack;
  font-size: 24px;
  line-height: 1.17;
}

.best__desc p {
  opacity: .8;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 15px;
}

