.delivery {
  background: url('../img/section7/bg-texture.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.delivery-title {
  margin-top: -30px;
}

.form {
  display: flex;
  color: $white;
  margin-top: 25px;
}

.form__left {
  flex: 1;
}

.form__row {
  margin-bottom: 15px;
  display: flex;
}

input, textarea {
  color: $black;
  font-size: 14px;
  @include ubuntu();
}

.form__block {
  display: block;
  flex: 1;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  padding: 10px 20px;
  background: $white;
  border: none;
  border-radius: 5px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;

  &:focus {
    border: 1px solid $yellow;
    outline: none;
  }
}

.form__right {
  margin-left: 20px;
  flex: 1;
}

.form__textarea {
  width: 100%;
  height: 110px;
  border-radius: 5px;
  resize: none;
  outline: none;
  border: 1px solid transparent;
  padding: 10px 20px;

  &:focus {
    border: 1px solid $yellow;
    outline: none;
  }
}

.form__row-radio {
  display: flex;
}

.form__radio {
  display: flex;
  margin-top: 10px;
  margin-right: 20px;
  align-items: center;
}

.form__radio-elem, .form__checkbox-elem {
  display: none;
}

.form__radio-fake {
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 50%;
  border: 1px solid $white;
  background-color: $white;
  cursor: pointer;
  position: relative;
  margin-right: 10px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: $orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__row-checkbox {
  margin-top: 20px;
}

.form__checkbox {
  display: flex;
  align-items: center;
}

.form__radio-elem:checked+.form__radio-fake:after {
  display: none;
}

.form__checkbox-fake {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: $white;
  border: 1px solid $white;
  position: relative;
  cursor: pointer;
  margin-right: 5px;

  &:after {
    content: '';
    background-image: url('../img/section7/w.png');
    display: block;
    position: absolute;
    width: 11px;
    height: 9px;
    top: 2px;
    left: 1px;
  }
}

.form__button {
  margin-top: 15px;
}

.form__checkbox-elem:checked+.form__checkbox-fake:after {
  display: none;
}