.hero {
  background: url('../img/section1/texture.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.hero__container {
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(10px);
}

.logo {
  @include tablets {
    flex: 1;
  }
}

.logo__pic {
  display: block;
  max-width: rem(92px);
  max-height: rem(69px);
}

.mrBurger {
  display: none;
}

.header__btns {
  display: flex;
  align-items: center;
}

.nav {
  margin-right: rem(15px);

  @include tablets {
    display: none;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;

  &:after {
    display: inline-block;
    vertical-align: middle;
    content: '';
    @include circle(rem(4px), $white);
    margin: 0 rem(15px);
  }

  &:last-child:after {
    display: none;
  }
}

.nav__link {
  color: $white;
  font-weight: 500;
  font-size: rem(13px);
  line-height: 2.31;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  transition: .5s;
  
  &:hover {
    text-decoration: underline;
  }
}

.hero__content {
  display: flex;
  flex: .8;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(75px);

  @include tablets {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.hero__desc {
  padding-top: rem(70px);

  @include tablets {
    text-align: center;
    padding-top: 0;
  }
}

.hero__desc-text {
  font-size: rem(65px);
  line-height: 1;
  color: $white;
  @include lifehack();
  text-transform: lowercase;
}

.hero__pic, .hero__desc {
  width: 50%;
  padding-left: rem(10px);
}

.hero__pic-img {
  max-width: 95%;
}

.arrow-block_center {
  display: flex;
  justify-content: center;
  margin-bottom: rem(45px);
}
