.menu {
  background: url('../img/section5/photo-1428660386617-8d277e7deaf2.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.menu__container {
  justify-content: space-between;
}

.menu__title {
  padding: rem(105px) 0 0 rem(95px);

  @include tablets {
    padding-left: rem(25px);
  }

  @include phones {
    padding: rem(60px) 0 0 rem(60px);
  }
}

.menu__acco-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.menu__acco-item {
  position: relative;
  display: flex;
  overflow: hidden;

  .active .menu__acco-title  {
    color: $yellow;
  }
}

.menu__acco-trigger {
  display: flex;
  width: rem(80px);
  justify-content: center;
}

@for $num from 1 through 3 {
  .menu__acco-trigger-pic#{$num} {
    background: url('../img/section5/photo#{$num}.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
  }
}

.menu__acco-title {
  font-size: rem(40px);
  @include gagalin();
  color: $white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: rem(40px);

  @include phones {
    margin-bottom: rem(60px);
  }
}




.menu__acco-text {
  background: rgba(47, 50, 52, 0.93);
  color: $white;
  width: 0;
  transition: all 1s;
  
  p {
    padding: rem(20px);
  }

  @include phones {
    max-width: rem(190px);
  }
}



