.menu {
  background: url('../img/section5/photo-1428660386617-8d277e7deaf2.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.menu__container {
  justify-content: space-between;
}

.menu__title {
  padding: 105px 0 0 95px;
}

.menu__acco-list {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.menu__acco-item {
  position: relative;
  display: flex;
  overflow: hidden;
}

.menu__acco-trigger {
  display: flex;
  width: 80px;
  justify-content: center;
}

@for $num from 1 through 3 {
  .menu__acco-trigger-pic#{$num} {
    background: url('../img/section5/photo#{$num}.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
  }
}



.menu__acco-title {
  font-size: 40px;
  @include gagalin();
  color: $white;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin-bottom: 40px;
}

.menu__acco-text {
  background: rgba(47, 50, 52, 0.93);
  width: 540px;
  color: $white;
  width: 0;
}



