.order {
  background: url('../img/section3/Rectangle\ 1.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.order__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.arrow-block__left {

  @include tablets {
    margin-left: rem(30px);
  }

  @include phones {
    margin-left: rem(10px);
  }
}

.order__content {
  display: flex;
  justify-content: center;

  @include tablets {
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}

.order__content-left, .order__content-right {
  width: 50%;

  @include tablets {
    width: 90%;
  }
}

.order__content-left {
  display: flex;
  flex-direction: column;


  @include tablets {
    flex-direction: row;
    align-items: flex-start;
  }
}

.order__composition {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f08c33;
  border-radius: rem(5px);
  width: rem(90px);
  height: rem(90px);
  cursor: pointer;

  & span {
    @include gagalin;
  }

  &:hover {
    background-color: $red;

    & .composition__list {
      display: flex;
    }
  }

  @include phones {
    position: absolute;
    top: rem(30px);
    left: rem(30px)
  }
}

.order__composition-text {
  color: $white;
}

.composition__list {
  background-color: rgba(255, 255, 255, 0.9);
  width: rem(270px);
  height: rem(330px);
  position: absolute;
  top: 0;
  left: rem(90px);
  border-radius: rem(5px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: rem(5px);
  display: none; 
  transition: all .5s;
  padding: rem(15px);
}

.composition__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black;
  font-size: rem(14px);
  @include ubuntu(medium);
}

.composition__item-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.composition__item-img {
  width: rem(40px);
  height: rem(35px);
  
  &_color {
    &_beef {
      fill: #e25028;
    }

    &_buns {
      fill: #f8b43a;
    }

    &_salad {
      fill: #a3cb6c;
    }

    &_sauce {
      fill: #e25028;
    }

    &_cucumber {
      fill: #8ac03e;
    }

    &_cheese {
      fill: #f8b43a;
    }
  }
}

.order__content-img {
  max-width: 99%;
}

.order__kalorit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(60px);
  height: rem(60px);

  @include phones {
    position: absolute;
    top: rem(50px);
    right: rem(30px)
  }
}

.order__kalorit-pic {
  position: relative;
}

.order__kalorit-amount {
  position: absolute;
  left: rem(15px);
  top: rem(25px);
  color: $white;
  opacity: .5;
  @include gagalin;
  font-size: rem(20px);
}

.order__kalorit-text {
  color: $white;
  opacity: .5;
  @include gagalin;
  font-size: rem(14px);
}

.order__desc {
  padding-top: rem(45px);
  padding-left: rem(10px);

  @include phones {
    padding-top: rem(10px);
  }
}

.order__desc-text {
  @include ubuntu;
  color: $white;
  font-size: rem(14px);
  margin-top: rem(45px);

  @include phones {
    margin-top: rem(10px);
  }
}

.order__desc-price {
  display: flex;
  align-items: center;
  margin-top: rem(45px);

  @include tablets {
    justify-content: center;
  }

  @include phones {
    margin-top: rem(5px);
  }
}

.order__price-cost {
  display: flex;
  align-items: center;
}

.order__desc-price-number {
  @include gagalin;
  font-size: rem(72px);
  color: $red;
}

.order__desc-price-text {
  @include gagalin;
  font-size: rem(30px);
  color: $red;
  margin-top: rem(25px);

  @include phones {
    margin-left: rem(10px); 
  }
}

.order__price-order {
  margin: rem(30px) 0 0 rem(46px);

  @include phones {
    margin: rem(10px) 0 0 rem(30px);
  }
}

.arrow-block__right {

  @include tablets {
    margin-right: rem(30px);
  }

  @include phones {
    margin-right: rem(10px);
  }
}









