.location {
  background: url('../img/section8/map.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.footer {
  height: rem(60px);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url('../img/section8/footer/chalkboard_texture_mc2015_by_mattiamc-d8dbnac.jpg') center center no-repeat;
  background-size: cover;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ftooer__address {
  margin-top: rem(5px);
}

.footer__address-text {
  color: $white;
  line-height: 1.71;
}

.footer__phone {
  align-items: center;
} 

.footer__phone-pic {
  width: rem(12px);
  height: rem(11px);
  fill: $red;
  margin-right: rem(5px);
}

.footer__social-item {
  margin-left: rem(20px);
  margin-top: rem(10px);
}

.footer__social-img {
  width: rem(20px);
  height: rem(20px);
  fill: #5a5a5a;
  transition: .3s;

  &:hover {
    fill: $white;
  }
}

.footer__phone-number {
  @include ubuntu(bold);
  color: $red;
  font-size: rem(14px);
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}