.arrow-button {
  content: '';
  display: block;
  width: rem(20px);
  height: rem(20px);
  border: rem(3px) solid transparent;
  border-bottom-color: $white;
  border-right-color: $white;
  border-radius: rem(3px);
  transform: rotate(45deg);

  &_left {
    transform: rotate(135deg);
  }

  &_right {
    transform: rotate(315deg);
  }
}







