.btn {
  color: $white;
  font-weight: 500;
  font-size: rem(13px);
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  background-color: $red;
  padding: rem(10px) rem(25px);
  text-align: center;
  border-radius: rem(5px);
  transition: .5s;

  &:hover {
  background-color: $red-hover;
  }

  &_hover {
    &_black {
      &:hover {
        background-color: $black;
      }

      &_phones {
        display: none;
      }
    }
    
  }

  &_reset {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      background: transparent;
      
    }
  }
}

// ANIMATION
@-webkit-keyframes pulsate {
  50% { color: #fff; text-shadow: 0 rem(-1px) rgba(0,0,0,.3), 0 0 rem(5px) #ffd, 0 0 rem(8px) #fff; }
}
@keyframes pulsate {
  50% { color: #fff; text-shadow: 0 rem(-1px) rgba(0,0,0,.3), 0 0 rem(5px) #ffd, 0 0 rem(8px) #fff; }
}
.btn {
  color: rgb(245,245,245);
  text-shadow: 0 rem(-1px) rgba(0,0,0,.1);
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

