.fixid-nav__block {
  display: block;

  @include tablets {
    display: none;
  }
}

.fixed-nav {
  position: fixed;
  top: rem(90px);
  right: rem(50px);
}

.fixed-nav__item {
  margin-bottom: rem(5px);
}

.fixed-nav__link {
  display: flex;
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid transparent;
  border-radius: 50%;
  position: relative;
  transition: .5s;

  &:hover {
    border-color: $white;
  }

  &:before {
    content: '';
    display: block;
    width: rem(6px);
    height: rem(6px);
    background: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}