.section-title {
  font-size: rem(72px);
  color: $yellow;
  @include gagalin();
  font-weight: normal;
  margin-top: 0;
  
  &_color{
    &_black {
      color: $black;
    }
  }

  &_align {
    &_centr {
      text-align: center;
    }
  }

  &_color{
    &_white {
      color: $white;
      line-height: 0.9;
    }
  }

  @include phones {
    font-size: rem(63px);
  }
}