.reviews__list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reviews__item {
  width: 25%;
  height: 50%;
  filter: grayscale(100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  &:hover {
    .reviews__hover {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include tablets {
    width: 50%;
    height: 25%;
  }
}

.reviews__hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // opacity: 0;
  transition: .5s;
  background: rgba(#141414, .7);
  cursor: pointer;
  // transform: scale(.5);
  padding: rem(45px) rem(20px);

  @include tablets {
    padding: rem(20px) rem(55px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.reviews__title {
  @include gagalin();
  font-size: rem(14px);
  color: $white;
  
}

.reviews__text {
  @include ubuntu(light);
  font-size: rem(14px);
  color: $white;
  line-height: 1.75;
  margin-top: rem(20px);

  @include tablets {
    text-align: center;
  }
}

.btn_hover_black {
  margin-top: rem(10px);
}