.team {
  background: url('../img/section4/SBS_1255-X2.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}

.team__container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 49%;
  background: rgba(#2f3234, .93);
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    width: 100%;
  }
} 

.team__acco-item--active {
  .team__acco-trigger {
    color: $yellow;

    &:before {
      transform: rotate(180deg);
    }
  }

  .team__acco-content {
    height: auto;
  }
}

.team__content {
  margin-top: rem(-50px);
  width: 70%;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
  }
}

.team__acco {
  margin-top: rem(25px);
  margin-left: rem(15px);
}

.team__acco-item {
  margin-top: rem(35px);

  &:first-child {
    margin-top: 0;
  }

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__acco-trigger {
  color: $white;
  @include gagalin;
  font-size: rem(14px);
  display: flex;
  align-items: center;

  &:before {
    content: '';
    display: block;
    width: rem(0px);
    height: 0;
    border: rem(5px) solid transparent;
    border-bottom-width: 0;
    border-top-color: $yellow;
    margin-right: rem(10px);
  }

  @include tablets {
    font-size: rem(25px);
  }
}

.team__acco-content {
  display: flex;
  height: 0;
  overflow: hidden;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__acco-pic {
  border-radius: 50%;
  overflow: hidden;
  max-height: rem(100px);
  min-width: rem(100px);
  max-width: rem(100px);
  margin-top: rem(10px);
  margin-left: rem(15px);
}

.team__acco-avatar {
  transform: translateX(rem(-20px));
}

.team__acco-text {
  margin-top: rem(10px);
  margin-left: rem(25px);

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.team__acco-article-content {
  margin-top: rem(10px);
}

.team__acco-article-title {
  color: $white;
  font-size: rem(14px);
  @include ubuntu(bold);
}

.team__acco-article-content {
  color: $white;
  font-size: rem(14px);
  @include ubuntu(light);
  line-height: 1.71;

  @include tablets {
    text-align: center;
  }
}

